mixin dev_head(page_title)
    head
        title=page_title
        | <!-- saved from url=(0014)about:internet -->
        meta(charset='utf-8')
        meta(name='viewport', content="width=device-width, initial-scale=1.0")
        meta(name="SKYPE_TOOLBAR", content="SKYPE_TOOLBAR_PARSER_COMPATIBLE")
        meta(name="apple-mobile-web-app-capable", content="yes")
        meta(name="format-detection", content="telephone=no")

        link(rel='stylesheet', href='styles/main_global.css', media='all')
        link(href="https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700", rel='stylesheet')
        link(href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,600", rel='stylesheet')
        link(href="//fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet")
        link(href="//fonts.googleapis.com/css?family=Roboto" rel="stylesheet")


mixin loop_while(counter)
    -i=0;
    while i < counter
        -i++;
        block

mixin link_o_span (is_link, link_href, cls, txt)
    - if (is_link)
        a(class=cls href=link_href)!= txt
            block
    - else
        span(class=cls)!= txt
            block
        
mixin header(active_menu) 
    .nav-overlay.closeMenu
    div.header: .section_inner
        .open-menu_btn.openMenu
        .logo_block
            a.logo(href='#')
                img(src='i/logo.png')
        ul.main_menu
            li.menu_item: a.menu_link(href='#')
                span.menu_link_text Our Menu
            li.menu_item: a.menu_link(href='#')
                span.menu_link_text Our team
            li.menu_item: a.menu_link(href='#')
                span.menu_link_text Who are Chicano?
            li.menu_item: a.menu_link(href='#')
                span.menu_link_text Contact us
           

mixin scripts()
    //-script(src='js/min/all.min.js')
    //-script(src='https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true')
    script(src='js/jquery1.10.js')
    script(src='js/slick.js')
    script(src='js/jquery.mousewheel-3.0.6.pack.js')
    script(src='fancybox/jquery.fancybox.pack.js')
    script(src='js/jquery.backstretch.js')
    //-script(src='js/jquery.fullPage.js')
    script(src='js/script.js')
