$icomoon-font-path: "fonts" !default;

$i-pin: "\e900";
$i-envelope: "\e903";
$i-close: "\e90b";
$i-facebook: "\e904";
$i-phone: "\e901";
$i-right_arrow: "\e01f";
$i-arrow_left: "\e020";
$i-menu: "\e907";
$i-user: "\e902";
$i-instagram: "\e905";

